.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: serif;
  background: papayawhip;
  border-radius: 4px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 5px;
  border-radius: 4px;
}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding: 4px;
  margin: 0px;
  display: inline-flex;
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 4px;
  /* this removes the line under the links */
  text-decoration: none;
  margin: 4px;

  border-radius: 4px;
}